header {
  background-color: transparent; /*rgba(34, 218, 202, 0.822); */
  color: rgb(204, 166, 240);
}
body {
  background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));
  font-family: "Press Start 2P", cursive !important;
}

.card {
  background-color: transparent !important;
  border-color: transparent !important;
}
.card img {  
  border-radius: 10%;
}

.row {
  height: fit-content;
  margin-top: 8rem;
  display: flex;
  justify-content: center;

  max-width: 80%;
}


img {
  object-fit: fill;
}


#gameOver {
  background-color: white;
  min-height: 18rem;
}

h2 {
  color: #0dcaf0 !important;

}
